*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Oswald', sans-serif!important;
}

.text-center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Make sure the parent container has a defined height */
}
